.head{
    font-family: 'Lucida Console', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: purple;
    color: rgb(255, 255, 255);
    text-align: center;
    margin-top: 0%;
    padding: 10px;
}
body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(0, 0, 0);
}


.flex-container{
    display: flex;
    flex-direction: row;
    background-color: rgb(165, 165, 165);
    border: 2px solid red;
    width: 800px;
    align-items: center;
    
}

.flex-container div {
  background: rgb(157, 255, 138);
  border: 2px solid rgb(0, 187, 40);
  padding: 10px;
  align-content: center;
  margin: 20px;
  width: 100px;
  height: 100px;
  flex: 1;

}

.flex-container .one{
    background-color: rgb(255, 255, 209);
}

.flex-container .two {
  background-color: rgb(200, 252, 234);
}

.flex-container .three{
    background-color: rgb(255, 216, 255);
}